<!-- 
<h1 class="bg-success p-2 text-center text-white"> This is SportsStore</h1>
<div class="text-center">
  <input type="text" [(ngModel)]="name">
  <br>
<input type="email"  [(ngModel)]="email">
<br>
<textarea name="" id="" cols="30" rows="10"  [(ngModel)]="adress"></textarea>
<br>
<button (click)="onClick()">OnClick</button>  
</div>
<div *ngIf="userArray.length>0;else noData">
    <table style="width: 100%;">
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Adress</th>
        <th>Date</th>
        <th>Actions</th>
    </thead>
    <tr *ngFor="let user of userArray;let index=index">
        <td>{{index+1  }}</td>
        <td>{{user.name | slice:0:5 }}</td>
        <td>{{user.email}}</td>
        <td>{{user.adress}}</td>
        <th>{{user.datee | date:'short'}}</th>
        <td (click)="delete(index)">Delete</td>
    </tr>
</table>
</div>
<ng-template #noData>Data is not</ng-template> -->

<!-- <app-post></app-post> -->